* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    width: 100%;
}

:root {
/* colors */
--color-primary: #08A6E4;
--color-primary-shadow: rgba(7, 172, 230, .16);
--color-redish: #FB3B64;
--color-green: #55DFB4;
--color-black: #000000;
--color-grey: #A5A5A5;
--color-light-grey: #F7F7F7;
--color-white: #FFFFFF;
--color-dark-grey: #707070;
/* fonts */
--primary-font: 'Raleway', sans-serif;
--secondary-font: 'Open Sans', sans-serif;
/* font weight */
--font-light: 300;
--font-regular: 400;
--font-bold: 700;
--font-extra-bold: 800;
/* font size */
--font-smallest: 1.1rem;
--font-small: 1.2rem;
--font-button: 1.3rem;
--font-data: 1.4rem;
--font-text: 1.6rem;
--font-description: 1.7rem;
--font-numbers: 2rem;
--font-highlighted: 2.1rem;
--font-logo-small: 2.6rem;
--font-logo-big: 3.2rem;
--font-medium-header: 3.6rem;
--font-big-header: 4.6rem;
--font-biggest-header: 4.9rem;
/*  box shadow*/
--shadow-buttons: 5px 10px 14px #07ACE629;
--shadow-header: 0px 3px 6px #00000029;
--shadow-footer: 0px -5px 40px #00000029;
--shadow-highlighted: 5px 10px 27px #07ACE629;
}

.container {
    width: 1352px;
    margin: 0 auto;
    height: 100%;
}

a {
    text-decoration: none;
    color: var(--color-white);
}

/* Navigation */

.nav{
    width: 100%;
    box-shadow: var(--shadow-header);
}

.wrapper {
    display: flex;
}

.nav__logo, .nav__list {
    width: 50vw;
}

.nav__logo {
    padding: 16px 0;
}

.logo--link {   
    color: var(--color-primary);
    font-family: var(--primary-font);
    font-weight: var(--font-light);
}

.nav__logo--link {
    font-size: var(--font-logo-big);
}

.nav__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
}

.nav__list--item {
    display: inline-block;
    height: 68px;
    padding: 26px 0;
}

.nav__list--link {
    display: block;
    text-transform: uppercase;
    color: var(--color-grey);
    font-family: var(--secondary-font);
    font-size: var(--font-smallest);
    font-weight: var(--font-bold);
    height: 44px;
}

.nav__list--link:hover {
    color: var(--color-black);
    border-bottom: 4px solid var(--color-primary);   
}

/* Banner */

.banner {
    background-image: url(../assets/Background.png);
    background-repeat: no-repeat;
    background-position: bottom;
    height: 91vh;
    /* 842px */
}

.banner__wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 30%;
}

.banner__header {
    font-family: var(--primary-font);
    font-size: var(--font-biggest-header);
    padding-top: 60px;
}

.text--font {
    font-family: var(--secondary-font);
    font-size: var(--font-text);
}

.banner__text {
    padding: 30px 0;
}

.banner__link {
    font-weight: var(--font-bold);
    background-color: var(--color-primary);
    border-radius: 40px;
    padding: 22px 157px;
}

/* Statictics */

.statistics {
    height: 525px;
}

.header {
    font-family: var(--primary-font);
    font-size: var(--font-medium-header);
}

.statistics__header {
    text-align: center;
    padding-top: 100px;
}

.statistics__wrapper {
    justify-content: space-evenly;
    align-items: center;
    height: 389px;   
}

.statistics__article {
    text-align: center;
    position: relative;
}

.article__photo--person {
    width: 44px;
    height: 52px;
}

.article__photo--eye {
    width: 65px;
    height: 36px;
}

.article__photo--catalog {
    width: 52px;
    height: 48px;
}

.article__circle {
    border-radius: 50%;
    width: 62px;
    height: 62px;
    position: absolute;
    z-index: -1;
}

.article__circle--red {
    background-color: var(--color-redish);
    top: -5px;
    left: 30px;
}

.article__circle--blue {
    background-color: var(--color-primary);
    top: -15px;
    left: 45px;
}

.article__circle--green {
    background-color: var(--color-green);
    top: -5px;
    left: 10px;
}

.statistics__article--header {
    letter-spacing: 6px;
    font-family: var(--primary-font);
    font-weight: var(--font-extra-bold);
    font-size: var(--font-numbers);
    padding: 20px;
}

.statistics__article--text {
    font-family: var(--primary-font);
    font-size: var(--font-description);
    color: var(--color-grey);
}

/* Benefits */

.benefits {
    background-color: var(--color-light-grey);
}

.benefits__wrapper {
    flex-direction: column;
    gap: 40px;  
}

.benefits__article {
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    background-color: var(--color-white);
    display: flex; 
    justify-content:space-between;
    width: 80%;
    margin: 0 auto;
    height: 370px
}

.benefits__article--first {
    margin-top: 105px;
}

.benefits__article--section, .benefits__article--photo {
    width: 50%;
}

.benefits__article--header-first {
    padding: 91px 0 0 36px;
   
}

.benefits__article--text {
    padding: 30px 0 140px 36px; 
    position: relative;  
    width: 80%;
}

.benefits__article--text::after {
    content: "";
    border-bottom: 4px solid var(--color-redish);
    width: 327px;
    position: absolute;
    bottom: 90px;
    left: 40px;
}

.benefits__article--photo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
}

.article--photo-first {
    width: 38.6rem;
    height: 21.9rem; 
    z-index: 1;
    margin: 40px;
}

.article--photo-first-object {
    width: 18rem;
    height: 18rem;
    background-color: var(--color-redish);
    border-radius: 41px;
    position: absolute;
    transform: rotate(45deg);
    top: 50px;
    right: 100px;
}

.article--section-order {
    order: 1;
    margin-left: 100px;
}

.benefits__article--header-second {
    padding: 70px 170px 0 0;
}

.benefits__article--text-second {
    padding: 30px 20px 120px 0;
    position: relative;
}

.benefits__article--text-second::after {
    content: "";
    border-bottom: 4px solid var(--color-primary);
    width: 327px;
    position: absolute;
    bottom: 70px;
    left: 0;
}

.article__photo--second {
    width: 42.6rem;
    height: 32.8rem;
    position: relative;
    z-index: 1;
    margin: 30px 0 13px 70px;
}

.second-article__object {
    width: 32rem;
    height: 32rem;
    background-color: var(--color-primary);
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 70px;
}

.benefits__last-article--wrapper {
    gap: 40px;
    width: 80%;
    margin: auto;
}

.benefits__article--third {
    height: 37rem;
    flex-direction: column;
}

.benefits__article--header-third {
    padding: 70px 200px 0 35px;
}

.benefits__article--text-third::after {
    content: "";
    border-bottom: 4px solid var(--color-green);
    width: 327px;
    position: absolute;
    bottom: 90px;
    left: 40px;
}

.article__photo--wrapper {
    position: relative;
}

.article__photo--third {
    width: 29.5rem;
    height: 20.7rem;
    z-index: 1;
    position: relative;
    margin: 98px 81px 64px 62px;
}

.third-article__object {
    width: 44rem;
    height: 37rem;
    background-color: var(--color-green);
    border-radius: 5px;
    position: absolute;
    top: 0;
    right: 0;
}

/* Pricing */

.pricing__header {
    text-align: center;
    padding: 100px 0 50px 0;
}

.pricing__wrapper {
    justify-content: space-evenly;
    align-items: center;
}

.pricing__article {
    text-align: center;
    width: 372px;
    height: 461px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.article-red {
    border: 1px solid var(--color-redish);
    border-radius: 18px;
}

.article-green {
    border: 1px solid var(--color-green);
    border-radius: 18px;
}

.highlighted__article {
    width: 405px;
    height: 500px;
    border: 1px solid var(--color-primary);
    box-shadow: var(--shadow-highlighted);
    border-radius: 18px;
}

.pricing__article--header {
    font-family: var(--primary-font);
    font-size: var(--font-numbers);
    font-weight: var(--font-bold);
    padding-top: 34px;
    padding-bottom: 14px;
}

.highlighted-header {
    font-size: var(--font-highlighted);
}

.pricing__article--price {
    font-family: var(--secondary-font);
    font-weight: var(--font-light);
    font-size: var(--font-big-header);
    padding: 15px;
}

.price-red {
    color: var(--color-redish);
}

.price-blue {
    color: var(--color-primary);
}

.price-green {
    color: var(--color-green);
}

.pricing__article--note {
    font-family: var(--primary-font);
    font-size: var(--font-small);
    font-weight: var(--font-bold);
    padding: 15px;
}

.pricing__article--list {
    padding-bottom: 81px;
}

.pricing__article--list-item {
    font-family: var(--secondary-font);
    font-size: var(--font-data);
    padding: 10px;
}

.checkmark::before{
    content: url(../assets/Ckechmark-2.svg);
    padding: 10px;
}

.close::before {
    content: url(../assets/Close.svg);
    padding: 10px;
}

.pricing__article--link {
    font-family: var(--secondary-font);
    font-weight: var(--font-bold);
    padding: 16px 57px;
    border-radius: 23px;
    width: 150px;
    height: 50px;
    position: absolute;
    bottom: -25px;
    left: calc(372/1)-75px;
}

.button-red {
    background-color: var(--color-redish);
}

.button-blue {
    background-color: var(--color-primary);
}

.botton-green {
    background-color: var(--color-green);
}

.contact {
    margin-top: 155px;
    width: 55%;
}

.contact__section--left, .contact__section--right {
    width: 50%;
}

.contact__header {
    font-family: var(--primary-font);
    font-size: var(--font-biggest-header);
    padding-bottom: 22px;
}

.content__text {
    font-family: var(--secondary-font);
    font-size: var(--font-text);
    padding-bottom: 42px;
}

.contact__info {
    color: var(--color-grey);
    font-family: var(--secondary-font);
    font-size: var(--font-text);
    font-weight:var(--font-bold);
    display: inline;
    padding-right: 40px;
    position: relative;
    margin-left: 40px;
}

.phone::before {
    content: url(../assets/Phone\ Icon.svg);
    width: 27px;
    height: 27px;
    position: absolute;
    top: 0;
    left: -40px;
}

.mail::before {
    content: url(../assets/Mail\ Icon.svg);
    width: 27px;
    height: 27px;
    position: absolute;
    top: 0;
    left: -40px;
}

.contact__section--right {
    display: flex;
    flex-direction: column;
}

.contact__section--right-label {
    letter-spacing: 3.28px;
    color: var(--color-primary);
    font-family: var(--secondary-font);
    font-size: var(--font-smallest);
    font-weight: var(--font-bold);
    text-transform: uppercase;
    padding-bottom: 30px;
}

.email-padding {
    padding: 30px 0;
}

.contact__section--right-input {
    border: none;
    border-bottom: 1px solid var(--color-grey);
    font-size: 2rem;
}

.contact__checkbox--wrapper {
    display: flex;
    padding-top: 20px;
    position: relative;
}

input[type="checkbox"] {
    display: none;
}

.contact__checkmark {
    position: absolute;
    width: 24px;
    height: 24px;
    border: 1px solid var(--color-grey);
    border-radius: 4px;
    left: 0;
    top: 20px;
    cursor: pointer;
}

input[type="checkbox"]:checked ~ .contact__checkmark{
    background-image: url(../assets/Checkmark.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.contact__checkbox-text {
    font-family: var(--secondary-font);
    font-size: var(--font-small);
    color: var(--color-dark-grey);
    padding-left: 35px;
}

.contact__button {
    font-family: var(--secondary-font);
    font-size: var(--font-button);
    font-weight: var(--font-bold);
    border-radius: 35px;
    box-shadow: var(--shadow-buttons);
    background-color: var(--color-primary);
    padding: 20px 97px;
    width: 226px;
    height: 57px;
    border: none;
    color: var(--color-white);
    margin: 20px 0 50px 0;
    align-self: flex-end;
}

.footer {
    width: 100%;
    box-shadow: var(--shadow-footer);
    padding: 20px
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
}

.footer__logo--link {
    font-size: var(--font-logo-small);
    padding: 20px 0;
}

.footer__text {
    font-family: var(--secondary-font);
    font-size: var(--font-smallest);
    color: var(--color-grey);
    padding-top: 10px;
}

.twitter-icon {
    padding: 10px;
}