$color-primary: #08A6E4;
$color-redish: #FB3B64;
$color-green: #55DFB4;
$color-black: #000000;
$color-grey: #A5A5A5;
$color-light-grey: #F7F7F7;
$color-white: #FFFFFF;
$color-dark-grey: #707070;

$shadow-buttons: 5px 10px 14px #07ACE629;
$shadow-header: 0px 3px 6px #00000029;
$shadow-footer: 0px -5px 40px #00000029;
$shadow-highlighted: 5px 10px 27px #07ACE629;