$primary-font: 'Raleway', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
$font-light: 300;
$font-bold: 700;
$font-extra-bold: 800;
$font-smallest: 1.1rem;
$font-small: 1.2rem;
$font-button: 1.3rem;
$font-data: 1.4rem;
$font-text: 1.6rem;
$font-description: 1.7rem;
$font-numbers: 2rem;
$font-highlighted: 2.1rem;
$font-logo-small: 2.6rem;
$font-logo-big: 3.2rem;
$font-medium-header: 3.6rem;
$font-big-header: 4.6rem;
$font-biggest-header: 4.9rem;